@charset "UTF-8";

@media screen and (max-width: 650px) {

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

 :root {
    --cor1: #F2A2B8;
    --cor2: #A2F2DC;
    --cor3: #F2E6CE;
    --cor4: #732E07;
}

body, html  {
       display: block;
       width: 100vw;
       height: 100vh;
       background-color:#F2E6CE;
       text-align: center;
       justify-content: center;
       overflow-x: hidden;
    }
    .menu-container {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        list-style: none;
        margin: 10px;
        padding: 10px;
        padding-top: 10px;
  
        
    }

    header {
        display: flex;
        width: 100vw;
        height: 250px;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
        background-color: #f1235a71;
        z-index: 3;
        box-shadow: 0px 10px 20px #f1235a71; 
    }

     .img-fundo {
        background-image: url(../imagem/img\ brigadeiro\ vertical.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100vw;
        height: 500px;
        
       
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .img-fundo > h1 {
        display: flex;
        background-color: #f2e6ce5c;
        padding: 30px;
    }

    .img-fundo-1 {
        background-image: url(../imagem/img\ beijinho\ vertical.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100vw;
        height: 700px;
        box-shadow: inset 0px 0px 10px #f1235a88;
        
       
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }
    
    .img-fundo-1 > h1 {
        display: flex;
        background-color: #f2e6ce5c;
        padding: 30px;
        
    }

    .img-fundo-2 {
        background-image: url(../imagem/brig\ e\ beij.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100vw;
        height: 700px;
        box-shadow: inset 0px 0px 10px #f1235a88;
        
       
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }
    
    .img-fundo-2 > h1 {
        display: flex;
        background-color: #f2e6ce5c;
        padding: 30px;
        
    }
    div.logo {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    div.logo > img {
        width: 150px;
        height: 150px;
        margin: 20px;
        margin-bottom: 40px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.775);
        justify-content: center;
    
    }
    h1 {
        font-size: 1.7em;
        padding-bottom: 20px;
    } 

    h2 {
        font-size: 1.5em;
        padding: 10px;
    }

    h3 {
        font-size: 1.3em;
        padding: 10px;
    }

   p {
        text-align: justify;
        padding: 20px;
        font-size: medium;
        font-size: 1.2em;
    }

    
    

    .btn {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 12px;
        margin: 15px;
        font-size: 21px;
        line-height: 20px;
        text-decoration: none;
        border-radius: 15px;
        
        color: white;
        border: 1px solid var(--cor3);
        box-shadow: 0 0 3px var(--cor3), 0 0 10px var(--cor3);
        overflow: hidden;
        z-index: 6;
    
        
    }

     
    
    .btn::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #f2a2b7;
        z-index: -1;
        transition: all .5s;
    }
    
    .btn1::before {
        width: 0;
        height: 100%;
    
        top: 0;
        left: 0;
    
    }
    .btn1:hover::before {
        width: 100%;
        
        }

       



    
    
    main {
        max-width: 700px;
        width: 80vw;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 50px;
        
    }

    div.doces {
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
        .doces ul {
        display: flex;
        list-style: none;
        width: calc(350px * 8);
        
    }
    
        div.doces  li {
            display: flex;
            align-items: center;
            width: 500px;
            padding: 20px;
            margin-top: 30px;
            margin-bottom: 50px;
            perspective: 100px;
            animation: scroll 30s linear infinite;
        }
    
        .doces  img {
            width: 100%;
            transition: transform 1s;
            
            
        }
    
        .doces img:hover {
            transform: translateZ(20px);
           
        }
    
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            20% {
                transform: translateX(-280px);
            }
            40% {
                transform: translateX(-560px);
            }
            60% {
                transform: translateX(-840+px);
            }
            80% {
                transform: translateX(-1120px);
            }
            100% {
                transform: translateX(-1400px);
            }
        }

        .doces h2 {
            margin-top: 30px;
        }

        #preco-kit {
            display: flex;
            flex-wrap: wrap;
        }
    
        .item-preco {
            margin: auto;
            transition: .35s;
            cursor: pointer;
            margin-bottom: 30px;
        }
    
        #preco-kit:hover > :not(:hover) {
            opacity: .4;
            transform: scale(0.9);
        }
        
    #precos {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 70px;
            padding: 40px;
            
        }
        
    div#precos > img {

        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        background-size: cover;
        border: 3px solid #F2A2B8 ;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        
    
    }

    #precos img:hover {
        scale: 1.25;
        transition: .5s;
        cursor: pointer;

    }

    #precos img ::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(25px);
        opacity: 0.5;
        z-index: 1 ;

    }

    #precos img :hover::before {
        opacity: 0;
        transition: .2s;
    }



    div.carrosel {
        width: 300px;
        height: 400px;
        overflow: hidden;
        margin: 50px auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        border: 3px solid #F2A2B8;
        
        
    }

.carrosel ul {
    display: flex;
    list-style: none;
    width: 2700px;
    height: 400px;

}

.carrosel li {
    position: relative;
    animation: slide 50s infinite ease-out;
}

@keyframes slide {
    0% {left: 0px}
    8% {left: 0px}
    11% {left: -300px}
    18% {left: -300px}
    21% {left: -600px}
    28% {left: -600px}
    31% {left: -900px}
    38% {left: -900px}
    41% {left: -1200px}
    48% {left: -1200px}
    51% {left: -1500px}
    58% {left: -1500px}
    61% {left: -1800px}
    68% {left: -1800px}
    71% {left: -2100px}
    78% {left: -2100px}
    81% {left: -2400px}
    88% {left: -2400px}
    91% {left: -2700px}
    100% {left: -2700px}
    
}

#video-insta {
    display: block;
    margin: auto;
    padding: 30px;
    height: 500px;
    
}

.instagram-media {
background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; height:100%; max-height: 700px ;padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);

} 




    .map {
        width: 300px;
        max-width: 70vw;
        height: 300px;
        
        padding: 2px;
        background-image: linear-gradient(to left, var(--cor4),var(--cor1));
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.534);
        z-index: 2;
        margin: auto;
        display: relative;
    }

    iframe {
        width: 295px;
        max-width: 70vw; 
        margin: auto;
        margin-bottom: 20px;
        height: 295px;
    }

    .whats {
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 9;
        margin-right: 15px;
        animation: float 5s ease-in-out infinite;
    }
    
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-10px);
        }
        100% {
            transform: translatey(0px);
        }
    
    }

    #insta {
        width: 130px;
        margin-bottom: 20px;
        opacity: .5;
        filter: grayscale(50%); 
        
    }
    #insta:hover {
        opacity: 100;
        filter: grayscale(0%);
        cursor: pointer;
       
    }



    footer {
        display: flex;
        background-color: #f1235aad;
        box-shadow: inset 0px 5px 10px #fefcfdae;
        width: 100vw;
        color: white;
        height: 100px;
        
    }
    
    footer > div.desenvolvido {
        display: flex;
        margin: auto;
        color: black;
        font-weight: bold;
        
    
    }


    
}